<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}

{% feed_meta %}

{% if jekyll.environment == 'production' and site.google_analytics %}
  {% include google-analytics.html %}
{% endif %}

{% if page.math %}
  {% include mathjax.html %}
{% endif %}


<!-- Google Fonts -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Roboto%20Slab|Roboto%20Mono|Lobster|Dancing%20Script|Noto%20Sans%20SC|Noto%20Sans%20TC|Noto%20Serif%20SC|Noto%20Serif%20TC|ZCOOL%20QingKe%20HuangYou|Ma%20Shan%20Zheng">

<link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/assets/css/skin.css' | relative_url }}">

<!-- Begin selecting skin -->
{% unless site.skin %}
  <script>
    const hour = (new Date()).getHours();
    let filename = "";
    if (hour >= 5 && hour < 7) {
      filename = "{{ '/assets/css/skin-sunrise.css' | relative_url }}";
    } else if (hour >= 7 && hour < 17) {
      filename = "{{ '/assets/css/skin-daylight.css' | relative_url }}";
    } else if (hour >= 17 && hour < 19) {
      filename = "{{ '/assets/css/skin-sunset.css' | relative_url }}";
    } else {
      filename = "{{ '/assets/css/skin-midnight.css' | relative_url }}";
    }
    const elem = document.createElement("link");
    elem.setAttribute("rel", "stylesheet");
    elem.setAttribute("type", "text/css");
    elem.setAttribute("href", filename);
    document.getElementsByTagName("head")[0].appendChild(elem);
  </script>
{% endunless %}
<!-- End selecting skin -->

<script async src="https://use.fontawesome.com/releases/v5.0.12/js/all.js"></script>

{% include custom-head.html %}
